{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Contacts{% endblock %}</h1>
<a class="action" href="{{ url_for('manage.create') }}">add</a>
{% endblock %}


{% block content %}
{% if contacts|length > 0 %}
<table>
  <thead>
    {% for key in contacts[0].keys() %}
    <td>{{ key }}</td>
    {% endfor %}
    <td>action</td>
  </thead>
  {% for contact in contacts %}
  <tr>
    {% for key in contact.keys() %}
    {% if contact[key] != "" %}
    <td>{{ contact[key] }}</td>
    {% else %}
    <td><span class="nil">nil</span></td>
    {% endif %}
    {% endfor %}
    <td><a href="{{ url_for('manage.update', id=contact['id']) }}">edit</a></td>
  </tr>
  {% endfor %}
</table>
{% else %}
<p><em>There are no contacts here.</em></p>
{% endif %}
{% endblock %}